@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Inter:wght@900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
    font-family: 'Open Sans';
}
header{
    width: 100%;
    height: 9.6vh;
    background-color: black;
    position: fixed;
    display: flex;
    z-index: 10000000000000;
}
.mohirdev_logo{
    width: 10%;
    height: 100%;
    /* border: 1px solid #fff; */
}
.logo_img{
    width: 55.5%;
    margin: 19% 17%;
}
.link_panel{
    width: 27%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
}
.link_panel ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    list-style: none;
    padding-top: 6%;
    padding-left: 2%;
}
.link_panel ul li a{
    color: white;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 1.6vh;
    padding: 28px 15px;
}
.link_panel ul li a:hover{
    text-shadow: 0px 0px 5px white;
}
.drop{
    width: 300px;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 7vh;
    display: none;
    height: 50vh;
    z-index: 10000000000000000000000000000;
}
.down .drop a{
    width: 100%;
    height: 6%;
    /* border: 1px solid black; */
    display: block;
    color: dodgerblue;
    font-size: 2vh;
    transition: 0.3s;
}
.down .drop a:hover{
    color: gray;
}
.down:hover .drop{
    display: block;
}
.login_btn{
    width: 63%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login_btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.5%;
    height: 55%;
    border: 1px solid white;
    color: #fff;
    margin: 0.5% 2.5%;
    font-size: 1.7vh;
    font-family: 'Open Sans';
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 0.6vh;
}
.bottom_navbar{
    width: 100%;
    height: 8vh;
    border: 1px solid black;
    position: fixed;
    bottom: 0%;
    background-color: white;
    display: none;
    /* background-color: blue; */
}
.bottom_nav_content{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
}
.bottom_display_link{
    width: 25%;
    height: 100%;
    /* background-color: red; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_display_link .pointer{
    width: 20%;
    height: 80%;
    /* border: 1px solid black; */
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    text-align: center;
    font-size: 2vh;
}
.bottom_display_link .pointer:hover .dropdown_content{
    display: block;
}
.bottom_display_link .pointer i{
    font-size: 2.5vh;
}
.dropdown_content{
    width: 200ch;
    height: 90vh;
    border: 1px solid blue;
    background-color: #fff;
    position: absolute;
    bottom: 8vh;
    left: 0ch;
    display: block;
    display: none;
}
.dropdown_content_links{
    width: 100%;
    height: 25%;
    border: 1px solid black;
    display: block;
}
.dropdown_content_links a{
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dropdown_content_links a:hover{
    color: dodgerblue;
}
.dropdown_content_links a p{
    padding: 0 10%;
}
.sub_dropdown{
    width: 100%;
    height: 65vh;
    border: 1px solid blue;
    position: absolute;
    top: 16%;
    left: 10%;
    background-color: white;
    z-index: 10000000000000000000;
    padding: 0;
    display: none;
}
.sub_dropdown a{
    width: 100%;
    height: 6.5vh;
    border: 1px solid black;
    display: flex;
    position: relative;
    left: 0%;
    justify-content: flex-start;
    align-items: center;
    top: -6.5vh;
    color: gray;
}
.sub_dropdown a:hover{
    color: dodgerblue;
}
footer{
    width: 100%;
    height: 65vh;
    /* border: 1px solid black; */
    font-family: 'Open Sans';
    position: absolute;
    top: 700vh;
}
.footer_content{
    width: 62%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}
.footer_colonels{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
}
.footer_colonel{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.footer_contacts{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    margin-top: 10%;
}
.contacts_text{
    width: 100%;
    height: 50%;
    /* border-bottom: 1px solid blue; */
    padding: 15% 6%;
    color: gray;
    font-size: 1.85vh;
}
.contacts_number_mail{
    width: 100%;
    height: 30%;
    /* border-bottom: 1px solid red; */
    padding: 1% 6%;
    font-weight: 600;
    color: gray;
}
.social_media{
    width: 100%;
    height: 20%;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.social_media ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0% 2%;
}
.social_media ul li{
    padding: 0px 15%;
}
.social_media ul li a{
    color: gray;
}
.social_media ul li a:hover{
    color: #000;
}
.link_lists{
    width: 100%;
    height: 40%;
    /* border-bottom: 1px solid black; */
    padding: 3vh 5%;
}
.link_lists h2{
    font-size: 2.4vh;
}
.link_lists ul{
    width: 100%;
    list-style: none;
    padding: 3vh 0;
}
.link_lists ul li{
    padding-bottom: 2vh;
}
.link_lists ul li a{
    text-decoration: none;
    color: gray;
}
.zoodpay_link{
    display: block;
    width: 40%;
    height: 6.5vh;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.zoodpay_link img{
    width: 100%;
    height: 100%;
}
.credit_cards{
    width: 100%;
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.087);
    position: absolute;   
    top: 770vh;
}
.credit_cards_content{
    width: 62%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}
.credit_cards_block{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
}
.credit_cards_block p{
    padding: 3% 0%;
    font-family: 'Open Sans';
    color: gray;
}
.credit_cards_block .paragrapgh_text{
    width: 20%;
    /* border: 1px solid black; */
    margin-left: 4%;
    margin-top: 1.5%;
}
.credit_cards_icons{
    width: 76%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
}
.credit_cards_icons div{
    width: 16%;
    min-width: 16%;
    height: 40%;
    /* border: 1px solid black; */
    margin: 0% 3.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit_cards_icons div img{
    width: 120%;
    margin-bottom: 40%;
}
main{
    width: 62%;
    height: auto;
    /* border: 1px solid blue; */
    position: absolute;
    top: 9.6vh;
    left: 19%;
}
.main_name{
    width: 100%;
    height: 19vh;
    /* border: 1px solid red; */
    border-bottom: 2px solid gray;
}
.main_name_space{
    width: 100%;
    height: 40px;
    border: none;
}
.main_name_content{
    width: 100%;
    height: 32%;
    position: relative;
    top: 36.5%;
    /* border: 1px solid red; */
    display: flex;
}
.main_name_content_part-1{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_name_content_part-1 h2{
    font-size: 4.8vh;
    font-family: 'Open Sans';
    padding: 0%;
}
.main_name_content_part-2{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.2vh;
    font-family: 'Open Sans';
    padding: 0% 8px;
}
.main_name_content_part-2 p{
    font-size: 2vh;
}
.main_name_content_part-2 i{
    font-size: 1.5vh;
    font-weight: 900;
}
.main_name_content_part-2 a{
    text-decoration: none;
    color: black;
}
.main_name_content_part-2 a:hover{
    color: dodgerblue;
}
.select_container{
    width: 100%;
    height: 18vh;
    border: none;
}
.select_container_content{
    width: 100%;
    height: 74%;
    border: none;
    position: relative;
    top: 4.5vh;
}
.select_first_span{
    width: 100%;
    height: 30%;
    border: none;
    position: relative;
    display: flex;
    top: 0%;
    padding: 0%;
}
.select_first_span h2{
    font-family: 'Open Sans';
    font-weight: 400;
}
.select_first_span h2 span{
    font-weight: 700;
}
.select_second_span{
    width: 100%;
    height: 20%;
    border: none;
    position: relative;
    top: 50%;
    display: flex;
}
.select_second_span_part-1{
    width: 50%;
    height: 100%;
    border: none;
}
.select_list{
    width: 23%;
    height: 100%;
    border: none;
    position: relative;
    left: 0%;
    display: flex;
}
.newest_item{
    width: 80%;
    height: 100%;
    border: none;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.down_arrow{
    width: 20%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down_arrow:hover .dropdown_item_links{
    display: block;
}
.dropdown_item_links{
    width: 18ch;
    height: 16vh;
    border: 1px solid lightgray;
    background-color: #fff;
    position: absolute;
    top: 2.5vh;
    left: -1.5%;
    border-radius: 4px;
    display: none;
}
.dropdown_item_links a{
    width: 100%;
    height: 25%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: 'Open Sans';
    padding: 0% 0.9ch;
}
.dropdown_item_links a:hover{
    background-color: lightgray;
}
/* .dropdown_item_links p{
    text-align: start;
} */
.select_second_span_part-2{
    width: 50%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 500;
}
.member_cards{
    width: 100%;
    height: 41vh;
    border: none;
    margin-top: 4.5vh;
    display: flex;
    transition: 1s;
    border: 1px solid lightgray;
}
.member_image{
    width: 31.5%;
    height: 100%;
    border: none;
    background-image: url(../images/kotlin-asoslari.webp);
    background-size: cover;
    background-position: center;
    transition: 1s;
}
.member_cards:hover .member_links_animation{
    display: flex;
}
.member_links_animation{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 1s;
}
.member_links_span{
    width: 50%;
    height: 29%;
    /* border: 1px solid #fff; */
    /* background-color: #fff; */
    animation-name: member_links_animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out ;
}
.member_first_link{
    width: 80%;
    height: 42%;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    top: 0%;
    left: 10%;
    color: orangered;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Open Sans';
    font-weight: 500;
    border-radius: 2px;
    transition: 0.3s;
}
.member_first_link:hover{
    background-color: black;
    color: white;
}
.member_second_link:hover{
    background-color: black;
    color: white;
}
.member_second_link{
    width: 100%;
    height: 42%;
    background-color: #000;
    position: relative;
    display: flex;
    top: 16%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: orangered;
    font-family: 'Open Sans';
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s;
}
@keyframes member_links_animation {
    from {position: relative; top: 30vh}
    to {position: relative; top: 0;}
}
.member_part-2{
    width: 68.5%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
}
.member_content{
    width: 67%;
    height: 100%;
    /* border: 1px solid red; */
}
.member_content_information{
    width: 90%;
    height: 44%;
    border: none;
    position: relative;
    top: 28%;
    left: 5%;
}
.featured_container{
    width: 100%;
    height: 16%;
    border: none;
    display: flex;
    justify-content: flex-start;
}
.featured_container span{
    width: 22%;
    height: 100%;
    background-color: blue;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6vh;
    font-weight: 600;
}
.member_courses_name{
    width: 100%;
    height: 28%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.member_courses_name h3 a{
    color: black;
    text-decoration: none;
    font-size: 2.2vh;
}
.member_courses_name h3 a:hover{
    color: dodgerblue;
}
.courses_counts{
    width: 100%;
    height: 28%;
    border: none;
    font-size: 1.7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: gray;
}
.member_name{
    width: 100%;
    height: 28%;
    border: none;
    display: flex;
    align-items: center;
}
.member_name_img{
    width: 32px;
    height: 32px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.member_name_img a{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border-radius: 50%;
}
.member_name_img a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.member_name_text{
    color: black;
    text-decoration: none;
    font-size: 1.7vh;
    position: relative;
    left: 4%;
}
.member_name_text:hover{
    color: dodgerblue;
}
.member_reviews{
    width: 33%;
    height: 100%;
    /* border: 1px solid green; */
}
.member_reviews_text{
    width: 90%;
    height: 28%;
    border: none;
    position: relative;
    left: 5%;
    top: 35%;
}
.member_reviews_text_main{
    width: 70%;
    height: 100%;
    border: none;
    position: relative;
    left: 30%;
}
.content_costs{
    width: 100%;
    height: 35%;
    border: none;
    position: relative;
    top: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.reviews_star{
    width: 100%;
    height: 45%;
    border: none;
    display: flex;
}
.review_count{
    width: 100%;
    height: 20%;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0%;
    color: gray;
}